rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
  	match/post/{postId}/{anythingElse=**}{
    	allow update, delete: if request.auth.uid ==
      get(/databases/$(database)/documents/post/$(postId))
      .data.ownerId;
    }
    
    match /post/{post} {
      allow read: if true;
      
      allow update, delete: if 
      request.auth.uid == resource.data.get('ownerId', false)
      ||
      request.auth.uid == resource.data.get('userId', false);
      
      allow create: if request.resource.data.text.size() <= 280 &&
      request.auth.uid == request.resource.data.get('ownerId', false);
      


      
      match /{details}/{doc}{
      	allow read: if true;
      }
      
      match /comments/{comment}{
      	allow create, update:
        if request.auth.uid == request.resource.data.ownerId && 
        request.resource.data.text.size() <= 280;
      	allow delete: 
        if request.auth.uid == resource.data.ownerId;
      }
      
      match /likes/{like}{
      	allow write: if request.auth.uid == request.resource.data.userId;
      	allow delete: if request.auth.uid == resource.data.userId;
      }
    }
    
    match /user/{doc} {
    	allow read: if true;
      allow create: if request.auth.uid != null;
      allow update: if request.auth.uid == resource.data.profile.uid;
    }
    
    match /follower/{follow} {
    	allow read: if true;
      allow create: if request.auth.uid == request.resource.data.follower;
      allow delete: if request.auth.uid == resource.data.follower;
    }
  }
}