rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
    match /post/{doc=**} {
      allow read: if true;
      allow update, delete: if 
      request.auth.uid == resource.data.get('ownerId', false)
      ||
      request.auth.uid == resource.data.userId;
      
      allow write: if request.resource.data.text.size() <= 280;
      


      
      match /{details}/{doc}{
      	allow read: if true;
      }
      
      match /comments/{comment}{
      	allow write:
        if request.auth.uid == request.resource.data.ownerId && 
        request.resource.data.text.size() <= 280;
      	allow delete: 
        if request.auth.uid == resource.data.ownerId;
      }
      
      match /likes/{like}{
      	allow write: if request.auth.uid == request.resource.data.userId;
      	allow delete: if request.auth.uid == resource.data.userId;
      }
    }
    
    match /user/{doc} {
    	allow read: if true;
      allow create: if request.auth.uid != null;
      allow update: if request.auth.uid == resource.data.profile.uid;
    }
    
    match /follower/{follow} {
    	allow read: if true;
      allow create: if request.auth.uid == request.resource.data.follower;
      allow delete: if request.auth.uid == resource.data.follower;
    }
  }
}